body{
    margin: 0;
    padding: 0;
    background-color: #D6E0F0;
}
.header{
    background-color: red;
}
.bl{
    position: relative;
    display: inline-block;
    padding-left: 2%;
}
ul{
    position: relative;
    float: right;
    right: 300px;
    bottom: 70px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.pc{
    position: relative;
    display: inline-block;
    padding-top: 2%;
}
.texto{
    position: relative;
    float: right;
    width: 400px;
    padding-left: 5%;
    padding-top: 5%;
}