<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style/cadastro.css" rel="stylesheet">
    <title>{{ titulo_login }}</title>
</head>
<body>
   <div class="container">
        <h2>Cadastro</h2>
        <form action="/criar" method="post">
            <label>Nome</label><br>
            <input type="text" placeholder="nome" name="nome" required><br>
            <br>
            <label>Email</label><br>
            <input type="text" placeholder="email" name="email" required><br>
            <br>
            <label>Senha</label><br>
            <input type="password" placeholder="senha" name="senha" required><br>
            <br>
            <input type="checkbox" class="checkbox" required><p class="termos">Concordo com os <a href="/templates/termos.html">Termos</a></p><br>
            <br>
            <button class="btn">Cadastrar</button>
        </form>
   </div>
</body>
</html>