<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style/cap.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <h1 class="bl">BLACKTIE</h1>
            <li>
                <ul><a href="index.html">Suporte</a></ul>
                <ul><a href="index.html">Conta</a></ul>
                <ul><a href="index.html">CAP</a></ul>
                <ul><a href="index.html">NAP</a></ul>
            </li>
        </div>
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
</body>
</html>